*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

@font-face {
  font-family: 'PlusJakartaSans-ExtraBold';
  src: url("./fonts/static/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url("./fonts/static/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

html,
body {
  min-height: 100%;
}