@import './base.css';

#app {
  padding: 0rem 1rem;
  transition: all .54s ease;
}


@media screen and (min-width:1024px) {
  #app {
    display: flex;
    place-items: center;
    place-content: center;
  }
}